.flake8
__pycache__
.ipynb_checkpoints
sftp-config.json
tidbits
llmtools/llms/alpaca
debug/
experiment/
build/

examples/llama-7b-quantized-lora
examples/llama-7b-quantized-lora/checkpoint-50/optimizer.pt
examples/llama-7b-quantized-lora/checkpoint-50/pytorch_model.bin
examples/llama-7b-quantized-lora/checkpoint-50/optimizer.pt
examples/llama-7b-quantized-lora/checkpoint-50/pytorch_model.bin
examples/llama-7b-quantized-lora/checkpoint-50/rng_state.pth
examples/llama-7b-quantized-lora/checkpoint-50/scaler.pt
examples/llama-7b-quantized-lora/checkpoint-50/scheduler.pt


build/

experiment_samsum/

experiment*